<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MediCenter</title>
    <link rel="stylesheet" href="assets/css/template.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">

    <script type="text/javascript">
        window.onload = function(){
        document.querySelector(".menuMobile").addEventListener("click", function(){
        if(document.querySelector(".menu nav ul").style.display == 'flex') {
        document.querySelector(".menu nav ul").style.display = 'none';
        } else{
        document.querySelector(".menu nav ul").style.display = 'flex';
        }
        });
        };
    </script>

    
     
</head>
<body>
    <header>
        <div class="container">
            <div class="logo">
                <a href=""><img src="assets/imagens/logo.png" alt="logo"></a>
            </div>
            <div class="menu">
                <nav>
                    <div class="menuMobile">
                        <div class="line"></div>
                        <div class="line"></div>
                        <div class="line"></div>
                    </div>
                    <ul>
                        <li class="active"><a href="">HOME</a></li>
                        <li><a href="">HOME</a></li>
                        <li><a href="">HOME</a></li>
                        <li><a href="">HOME</a></li>
                        <li><a href="">HOME</a></li> 
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    <section id="banner">
        <div class="container column">
            <div class="banner_headline">
                <h1>Top notch experience</h1>
                <h2>Medicenter is a responsive template perfect for all screen sizes</h2>
            </div>
            <div class="banner_options">
                <div class="banner1">
                    <div class="banner_title">Emergency Case</div>
                    <div class="banner_desc">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptas similique esse aliquid nesciunt doloribus soluta commodi corrupti. Autem tempore sed alias est voluptas a, asperiores vel iste quos! Error, id. <br>
                    happy    
                    </div>
                    <a href="#">Read more</a>
                </div>
                <div class="banner2">
                    <div class="banner_title">Doctors Timetable</div>
                    <div class="banner_desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore repellendus, dolor autem sapiente debitis magni eveniet quidem dolores, iste suscipit, fugiat sit. Eveniet voluptatem soluta mollitia, labore animi minus nesciunt.</div>
                    <a href="#">Read more</a>
                </div>
                <div class="banner3">
                    <div class="banner_title">Opening Hours</div>
                    <div class="dia1">
                        <div class="day">Monday - Friday</div>
                        <div>8.00 - 17.00</div>
                    </div>
                    <div class="dia2">
                        <div class="day">Saturday</div>
                        <div>9.30 - 17.30</div>
                    </div>
                    <div class="dia3">
                        <div class="day">Sunday</div>
                        <div>9.30 - 15.00</div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="geral">
        <div class="container">
            <section>
               <div class="widget">
                   <div class="widget_title">
                       <div class="widget_title_text">Last News</div>
                       <div class="widget_title_bar"></div>
                   </div>
                   <div class="widget_body_flex">
                       <article>
                           <a href="">
                               <div class="date">
                                <div class="posted_date">12 DEC 12 </div>
                                <div class="comments"> 2</div>
                                </div>
                                <div class="photo_news">
                                    <img src="assets/imagens/dra.jpg" alt="doutora">
                                </div>
                                <div class="title_news">
                                    Lorem ipsum dolor sit amat velum
                                </div>
                                <div class="resume_news">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam illum ex, optio nisi voluptatum excepturi ut dolorem enim quo illo vel aut incidunt dolor eius quasi odit, dolore esse ipsam.
                                </div>
                            </a>   
                        </article>
                        <article>
                            <a href="">
                                <div class="date">
                                 <div class="posted_date">12 DEC 12 </div>
                                 <div class="comments"> 2</div>
                                 </div>
                                 <div class="photo_news">
                                     <img src="assets/imagens/dra.jpg" alt="doutora">
                                 </div>
                                 <div class="title_news">
                                     Lorem ipsum dolor sit amat velum
                                 </div>
                                 <div class="resume_news">
                                     Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam illum ex, optio nisi voluptatum excepturi ut dolorem enim quo illo vel aut incidunt dolor eius quasi odit, dolore esse ipsam.
                                 </div>
                             </a>   
                         </article>
                         <article>
                            <a href="">
                                <div class="date">
                                 <div class="posted_date">12 DEC 12 </div>
                                 <div class="comments"> 2</div>
                                 </div>
                                 <div class="photo_news">
                                     <img src="assets/imagens/dra.jpg" alt="doutora">
                                 </div>
                                 <div class="title_news">
                                     Lorem ipsum dolor sit amat velum
                                 </div>
                                 <div class="resume_news">
                                     Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam illum ex, optio nisi voluptatum excepturi ut dolorem enim quo illo vel aut incidunt dolor eius quasi odit, dolore esse ipsam.
                                 </div>
                             </a>   
                         </article>
                         <article>
                            <a href="">
                                <div class="date">
                                 <div class="posted_date">12 DEC 12 </div>
                                 <div class="comments"> 2</div>
                                 </div>
                                 <div class="photo_news">
                                     <img src="assets/imagens/dra.jpg" alt="doutora">
                                 </div>
                                 <div class="title_news">
                                     Lorem ipsum dolor sit amat velum
                                 </div>
                                 <div class="resume_news">
                                     Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam illum ex, optio nisi voluptatum excepturi ut dolorem enim quo illo vel aut incidunt dolor eius quasi odit, dolore esse ipsam.
                                 </div>
                             </a>   
                         </article>
                   </div>
               </div>
            </section>
            <aside>
                <div class="widget">
                    <div class="widget_title">
                        <div class="widget_title_text">Deparments</div>
                        <div class="widget_title_bar"></div>
                    </div>
                    <div class="widget_body">
                        <div class="quadrado">...</div>
                        <div class="quadrado">...</div>
                        <div class="quadrado">...</div>
                        <div class="quadrado">...</div>
                        <div class="quadrado">...</div>
                        <div class="quadrado">...</div>
                    </div>
                </div>
                <div class="widget">
                    <div class="widget_title">
                        <div class="widget_title_text">Make An Appointment</div>
                        <div class="widget_title_bar"></div>
                    </div>
                    <div class="widget_body">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias </p> 
                    </div>
                    <div class="phone">
                        <i class="fas fa-phone-square-alt"></i>
                        <div><a href="tel:+1-889-443-4220"><strong style="color: black;">1-889-443-4220</strong> </a></div>
                    </div>
                    <div class="e-mail">
                        <i class="fas fa-envelope-open"></i> 
                        <div><a href="mailto:"> teste@teste.com</a></div>
                    </div>
                    <div class="agenda">
                        <i class="far fa-calendar-alt"></i>
                        <div>Consulte a <a href="#">agenda</a> para dias disponiveis</div>
                    </div>
                </div>
            </aside>
        </div>
    </section>
    <footer>
        <div class="container column">
            <div class="footer_menu">
                <div class="fm1">
                    <a href="">
                        <div class="tit">Health Insurance</div>
                        <div class="saiba">
                            Here in medicenter we have individual
                            <i class="fas fa-arrow-right"></i>
                        </div>
                    </a>

                    
                </div>
                <div class="fm2">
                    <a href="">
                        <div class="tit">Medical Records</div>
                        <div class="saiba">
                            Here in medicenter we have individual
                            <i class="fas fa-arrow-right"></i>
                        </div>
                    </a>
                    

                </div>
                <div class="fm3">
                    <a href="">
                        <div class="tit">Online Bill Pay</div>
                        <div class="saiba">
                            Here in medicenter we have individual
                            <i class="fas fa-arrow-right"></i>
                        </div>
                    </a>
                </div>
            </div>
            <div class="footer_area">
                <div class="footer_areaitem">
                    <div class="widget_title">
                      <div class="widget_title_text">Medicenter Clinic</div>
                      <div class="widget_title_bar"></div>
                      <div class="info">
                        The standard chunk of Lorem Ipsum 
                        used since the 1500s is reproduced below for those interested.
                        </div>
                        <div class="info">
                            Clinica MediCenter
                            <div class="fcontatos">
                                <div class="contato">
                                    33 Fartiame Street
                                </div>
                                <div class="numero">
                                    +123 655 656
                                </div>
                            </div>
                            <div class="fcontatos">
                                <div class="contato">
                                    Keitor East
                                </div>
                                <div class="numero">
                                    +255 686 355
                                </div>
                            </div>
                            <div class="fcontatos">
                                <div class="contato">
                                    VIC 3033, Australia
                                </div>
                                <div class="foemail">
                                   <strong style="color: rgb(231, 229, 229);">teste@teste</strong> 
                                </div>
                            </div>
                            <div class="icones">
                                <i class="fab fa-facebook"></i>
                                <i class="fab fa-twitter"></i>
                                <i class="fas fa-at"></i>                               
                            </div>                          
                        </div>
                    </div>
                </div>
                <div class="footer_areaitem">
                    <div class="widget_title">
                        <div class="widget_title_text">Lateste Posts</div>
                        <div class="widget_title_bar"> </div>
                        <div class="posts">
                            <i class="fas fa-arrow-right"> </i>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. At, deleniti ad e
                            <div class="foanos">
                                6 anos atrás
                            </div>
                        </div>
                        <div class="posts">
                            <i class="fas fa-arrow-right"> </i>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. At, deleniti ad e
                            <div class="foanos">
                                6 anos atrás
                            </div>
                        </div>
                        <div class="posts">
                            <i class="fas fa-arrow-right"> </i>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. At, deleniti ad e Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cumque, at officiis quos quidem deserunt adipisci aperiam eius odio itaque distinctio nisi libero repellat harum unde dolore? Amet a earum nam.
                            <div class="foanos">
                                6 anos atrás
                            </div>
                        </div>
                        
                    </div>
                </div>
                <div class="footer_areaitem">
                    <div class="widget_title">
                        <div class="widget_title_text">Latest Tweets</div>
                        <div class="widget_title_bar"></div>
                        <div class="postsa">
                            <i class="fas fa-arrow-right"> </i>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. At, deleniti ad e
                            <div class="foanos">
                                2 anos atrás
                            </div>
                        </div>
                        <div class="postsa">
                            <i class="fas fa-arrow-right"> </i>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. At, deleniti ad e Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quos asperiores doloribus commodi aut id excepturi facilis repellendus necessitatibus cupiditate dicta eligendi laudantium perspiciatis at consequuntur, corporis ea aspernatur dolorum vitae.
                            <div class="foanos">
                                2 anos atrás
                            </div>
                        </div>
                        <div class="postsa">
                            <i class="fas fa-arrow-right"> </i>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. At, deleniti ad e
                            <div class="foanos">
                                2 anos atrás
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer_copy">
                Coyright - Todos direitos reservados Washington Luiz
            </div>
        </div>
    </footer>
</body>
</html>