*{
    margin: 0;
    font-family: Helvetica;
    box-sizing: border-box;
    
   
    
}
body{
    background-image: url('../projeto/img/dev.jpg');
    
    color: white;
}
h1{
    color: rgb(5, 7, 143);
    text-align: center;
    margin-bottom: 10px;

}
#info{
    text-align: center;
    font-size: 22px;
    margin-bottom: 25px;
}
.ap{
    color: rgb(5, 7, 143);
    margin-bottom: 10px;
    font-weight: bold;

}
.dados, .hab{
    margin-left: 25%;
    margin-bottom: 40px;
    
}
.dados input{
    border: 1px solid black;
    outline: 0px;
    padding: 3px;
    width: 200px;
}
textarea{
    resize: none;
    font-size: 17px;
}
#botao{
    margin-top: 20px;
    padding: 10px;
    font-size: 15px;
    border: 1px solid rgb(184, 182, 182);
    background-color: rgb(228, 228, 236);
    cursor: pointer;

}
