:root{
    --bg-color: rgb(33, 221, 221);
    --bg-container: red;
    --font-color: rgb(121, 26, 209);

}
body{
    background-color: var(--bg-color);
}

h1{
    color: var(--font-color);
}

.container{
    background-color: var(--bg-container, blue);
    color: var(--bg-color);
}